@import "compass/css3/transition";

@mixin keyframes( $animationName )
{
    @-webkit-keyframes $animationName {
        @content;
    }
    @-moz-keyframes $animationName {
        @content;
    }
    @-o-keyframes $animationName {
        @content;
    }
    @keyframes $animationName {
        @content;
    }
}

@include keyframes( drop ) {
    0% { -webkit-transform: scale(0); opacity: 1;}
    100% { -webkit-transform: scale(1); opacity: 1;}
}

.reference {
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: drop;
}

.reference.email {
    -webkit-animation-delay: 0s;
}

.reference.twitter {
    -webkit-animation-delay: 0.05;
}

.reference.facebook {
    -webkit-animation-delay: 0.10s;
}

.reference.gplus {
    -webkit-animation-delay: 0.15s;
}

.reference.github {
    -webkit-animation-delay: 0.2s;
}

.reference.linkedin {
    -webkit-animation-delay: 0.25s;
}
