@media (max-device-width: 720px) {
    body {
        background-color: $content-background-color;
    }

    body #content {
        min-width: 100%;
        min-height: 100%;
        border-width: 0px;
    }

    footer {
        position: relative !important;
        bottom: 1em !important;
    }

    @media (orientation: portrait) {
        .face {
            padding: 1ex;
            img {
                width: 100%;
            }
        }

        .reference {
            display: inline-block;
            margin: 1em;
        }
    }


    @media (orientation: landscape) {
        .face {
            padding: 1ex;
            img {
                height: 90%;
            }
        }

        .part-1 {
            position: fixed;
            left: 0px;
            top: 50%;
            margin-top: -20%;
        }

        .part-2 {
            position: fixed;
            right: 0px;
            top: 50%;
            margin-top: -20%;
        }

        .reference {
            margin: 1em 2em 1em 2em;
        }
    }

    footer {
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 1ex;
        font-size: 10px;
    }
}
