@-webkit-keyframes drop {
    0% { -webkit-transform: scale(0); opacity: 1;}
    100% { -webkit-transform: scale(1); opacity: 1;}
}

.reference {
    opacity: 0;
}

.reference.email {
    -webkit-animation: drop 1s ease 0s forwards;
}

.reference.twitter {
    -webkit-animation: drop 1s ease 0.1s forwards;
}

.reference.facebook {
    -webkit-animation: drop 1s ease 0.2s forwards;
}

.reference.gplus {
    -webkit-animation: drop 1s ease 0.3s forwards;
}

.reference.github {
    -webkit-animation: drop 1s ease 0.4s forwards;
}

.reference.linkedin {
    -webkit-animation: drop 1s ease 0.5s forwards;
}
