body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: rgba(233, 233, 233, 0.2);
    font-family: "Helvetica";
}

#content {
    text-align: center;
    width: 720px;
    height: 100%;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 0px 1px 0px 1px;
}

.face img{
    margin-top: 2em;
    border-radius: 10px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
}

.face .name {
    font-size: 14px;
}

.reference {
    display: inline-block;
    font-size: 14px;
    margin-top: 1em;
    margin-left: 1em;
}

