body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: rgb(233, 233, 233);
    font-family: "Helvetica";
}

body #content {
    text-align: center;
    width: 720px;
    height: 100%;
    margin: 0 auto;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: 0px 1px 0px 1px;
    background-color: rgb(243, 243, 243);
}

.face img{
    margin-top: 2em;
    border-radius: 10px;
    width: 250px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
}

.face .name {
    font-size: 14px;
}

.reference {
    display: inline-block;
    font-size: 14px;
    margin-top: 1em;
    margin-left: 1em;
}

.reference:first-child {
    margin-left: 0em;
}

footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
