html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

* {
    box-sizing: border-box
}

body {
    background-color: #e9e9e9;
    font-family: "Helvetica"
}

body #content {
    text-align: center;
    background-color: #f3f3f3;
    border-style: solid;
    border-color: #c8c8c8;
    border-width: 0px 1px 0px 1px
}

.face img {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #c8c8c8
}

@media (min-device-width: 720px) {
    body #content {
        width:720px;
        padding-top: 5em;
        height: 100%;
        margin: 0 auto
    }

    .face img {
        width: 250px
    }

    .social {
        margin-top: 1em
    }

    .social .reference {
        display: inline-block;
        font-size: 14px
    }

    .social .reference:nth-child(2) {
        margin-right: 1em;
        margin-left: 1em
    }

    footer {
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 1ex;
        font-size: 10px
    }
}

@media (max-device-width: 720px) {
    body {
        background-color:#f3f3f3
    }

    body #content {
        min-width: 100%;
        min-height: 100%;
        border-width: 0px
    }

    footer {
        position: relative !important;
        bottom: 1em !important
    }
}

@media (max-device-width: 720px) and (orientation: portrait) {
    .face {
        padding:1ex
    }

    .face img {
        width: 100%
    }

    .reference {
        display: inline-block;
        margin: 1em
    }
}

@media (max-device-width: 720px) and (orientation: landscape) {
    .face {
        padding:1ex
    }

    .face img {
        height: 90%
    }

    .part-1 {
        position: fixed;
        left: 0px;
        top: 50%;
        margin-top: -20%
    }

    .part-2 {
        position: fixed;
        right: 0px;
        top: 50%;
        margin-top: -20%
    }

    .reference {
        margin: 1em 2em 1em 2em
    }
}

@media (max-device-width: 720px) {
    footer {
        text-align:center;
        width: 100%;
        position: fixed;
        bottom: 1ex;
        font-size: 10px
    }
}

@-webkit-keyframes drop {
    0% {
        -webkit-transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@-moz-keyframes drop {
    0% {
        -webkit-transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@-o-keyframes drop {
    0% {
        -webkit-transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@keyframes drop {
    0% {
        -webkit-transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

.reference {
    -webkit-opacity: 0;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: drop
}

.reference.email {
    animation-delay: 0s
}

.reference.twitter {
    animation-delay: 0.05s
}

.reference.facebook {
    animation-delay: 0.10s
}

.reference.gplus {
    animation-delay: 0.15s
}

.reference.github {
    animation-delay: 0.2s
}

.reference.linkedin {
    animation-delay: 0.25s
}

